{% extends 'cuttlet_home/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/hoh.css' %}">
{% endblock %}

{% block content %}
    <div id="reminder">REMEMBER: To participate viewers must start their messages with '?'</div>
    <div id="title">Hour of Honesty</div>
    <div id="container_current">
        <span id="current_username"></span><!--
        --><span id="current_question">Choose a question</span>

    </div>
    <div id='container_goals' class="section">
        <div id="container_timer" class="label_goals"></div>
        <div id="quarter_hoh" class="label_goals">15min:</div>
        <div id="half_hoh" class="label_goals">30min:</div>
        <div id="one_hoh" class="label_goals">Hour:</div>
    </div><!--
    --><div id="container_queue" class="section">
        Waiting for questions...
        <!-- <div class="container_next">
            <span class="container_quetion"></span>
        </div> -->
    </div><!--
    --><div id="container_vote" class="section">
        <div id="label_num_questions" class="label_vote">Answered:</div>
        <div id="label_percent" class="label_vote">Honesty at:</div>
        <div id="explanation_vote">
            Chat, am I being honest?<br>
            VOTE: ?yes or ?no
        </div>
    </div>
    <script src="{% static 'js/cuttle_chat.js' %}"></script>
    <script src="{% static 'js/hoh.js' %}"></script>
{% endblock %}
