{% extends 'cuttlet_home/base.html' %}
{% load static %}

{% block meta %}
    <title>Supperfan - Cuttlebay</title>
    <meta name="description" content=""/>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/supperfan.css' %}">
{% endblock %}

{% block content %}
    <div id="reminder">REMEMBER: To participate, viewers must start their messages with '?'</div>
    <div id="title" class="container_label">SUPPERFAN</div>
    <div id="explanation" class="container_label">Think of a question</div>
    <div id="container_input" class="container_label">
        <input id="input_answer" type="password" name="input_answer" placeholder="Write the correct answer"><!--
        --><span id="button_show">SHOW</span>
    </div>
    <div id="container_buttons" class="container_label">
        <div id="button_start" class="button" >Say the question and start</div>
        <div id="button_next_question" class="button" >Next question</div>
    </div>
    <div class="container_label">
        <div id="container_correctboard" class="boards">
            <span class="title_board">Correctboard</span>
            <div id="content_correctboard">
                <!-- <span class="rank_user"></span>
                <span class="rank_points"></span> -->
            </div>
        </div><!--
        --><div id="container_leaderboard" class="boards">
            <span class="title_board">Leaderboard</span>
            <div id="content_leaderboard">
            <!-- <span class="rank_user"></span>
            <span class="rank_points"></span> -->
            </div>
        </div>
    </div>
    <script src="{% static 'js/cuttle_chat.js' %}"></script>
    <script src="{% static 'js/supperfan.js' %}"></script>
{% endblock %}
