{% extends 'cuttlet_home/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/supperfan.css' %}">
{% endblock %}

{% block content %}
    <div id="title">SUPPERFAN</div>
    <div id="explanation">Think of a question ...</div>
    <div id="container_input">
        <input id="input_answer" type="password" name="input_answer" placeholder="Write the correct answer">
        <div id="button_show"><span id="checkbox_show">X</span>Show answer.</div>
    </div>
    <div id="container_buttons">
        <div id="button_start" class="button" >Start and say the question</div>
        <div id="button_next_question" class="button" >Next question</div>
    </div>
    <div id="container_correctboard" class="boards">
        Correctboard
        <!-- <div class="rank_correct"></div> -->
    </div>
    <div id="container_leaderboard" class="boards">
        Leaderboard
        <!-- <div class="rank_correct"></div> -->
        </div>
    </div>
    <script src="{% static 'js/cuttle_chat.js' %}"></script>
    <script src="{% static 'js/supperfan.js' %}"></script>
{% endblock %}
