body {
    background-color: var(--color-base);
}

.container_label {
    text-align: center;
    color: white;
}

#reminder {
    padding: 0 2%;
    width: 96%;
    min-height: 5vh;
    line-height: 5vh;
    text-align: center;
    color: var(--color-high);
}

#topic {
    width: 100%;
    min-height: 20vh;
}

textarea {
    display: inline-block;
    position: relative;
    width: 90%;
    height: 50%;
    border: none;
    font-family: inherit;
    text-align: center;
    vertical-align: middle;
    background-color: inherit;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
}

textarea:focus {
    outline: none;
}

#topic textarea {
    font-size: 3em;
    color: var(--color-low);
    text-transform: uppercase;
}

#topic textarea::placeholder {
    color: var(--color-low);
    vertical-align: middle;
}

#button_chat_choose {
    display: none;
    margin-bottom: 2vh;
    padding: 8px 18px;
    border: 2px solid var(--color-low);
    border-radius: 8px;
    color: var(--color-low);
    cursor: pointer;
}

#button_chat_choose:hover {
    background-color: var(--color-low);
    color: #FFFFFF;
}

#question {
    width: 100%;
    min-height: 15vh;
}

#question textarea {
    font-size: 1.675em;
    color: #FFFFFF;
}

#question textarea::placeholder {
    color:#FFFFFF;
    vertical-align: middle;
}

#container_input {
    width: 100vw;
    height: 15vh;
    line-height: 15vh;
}

#input_answer {
    display: inline-block;
    position: relative;
    padding: 0 1em;
    width: 60%;
    height: 5vh;
    border: 2px solid var(--color-high);
    border-right-width: 0px;
    border-radius: 8px 0 0 8px;
    font-size: 1.125em;
    vertical-align: middle;
    background-color: inherit;
    color: white;
}

#input_answer:focus {
    outline: none;
}

#input_answer::placeholder {
    color: white;
}

#button_show {
    display: inline-block;
    position: relative;
    padding: 0 1em;
    height: 5vh;
    line-height: 5vh;
    border: 2px solid var(--color-high);
    border-left-width: 1px;
    border-radius: 0 8px 8px 0;
    font-size: 0.875em;
    vertical-align: middle;
    color: var(--color-high);
    cursor: pointer;
}

#button_show:hover {
    background-color: var(--color-high);
    color: white;
}

#container_buttons {
    width: 100%;
    text-align: center;
    padding-bottom: 2vh;
}

.button {
    display: inline-block;
    padding: 8px 18px;
    border: 2px solid var(--color-low);
    border-radius: 8px;
    color: var(--color-low);
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-low);
    color: #FFFFFF;
}

#button_next_question {
    display: none;
}

.boards {
    display: inline-block;
    margin-bottom: 2vh;
    padding: 8px;
    width: 80%;
    height: 164px;
    border-radius: 8px;
}

#container_correctboard {
    vertical-align: top;
    background-color: var(--color-lowmed);
}

#container_leaderboard {
    vertical-align: top;
    /*border: 2px solid var(--color-highmed);*/
    background-color: var(--color-highmed);
}

.title_board {
    display: inline-block;
    width: 100%;
    height: 28px;
    line-height: 28px;
    text-align: center;
}

.rank_user {
    display: inline-block;
    width: 80%;
    height: 24px;
    line-height: 24px;
    text-align: left;
    overflow: hidden;
}

.rank_points {
    display: inline-block;
    float: right;
    width: 20%;
    height: 24px;
    line-height: 24px;
    text-align: right;
}

.overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(7, 7, 7, 0.7);
    text-align: center;
}

.overlay_content {
    position: absolute;
    padding: 8px 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-base);
    color: #FFFFFF;
}

#overlay_choose_close {
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 1.75em;
    text-decoration: none;
    color: var(--color-grey);
}

#overlay_choose_close:hover {
    color: #FFFFFF;
}

#title_overlay_choose {
    width: 100%;
    height: 64px;
    line-height: 64px;
    text-align: center;
    font-size: 1.75em;
    font-weight: 700;
}

.container_choice {
    position: relative;
    width: 100%;
}

.number_choice {
    float: left;
    margin-left: 2%;
    margin-bottom: 5px;
    width: 6%;
    height: 28px;
    line-height: 28px;
    text-align: center;
}

.input_choice {
    display: block;
    float: left;
    margin-left: 1%;
    margin-bottom: 5px;
    padding: 0 2%;
    width: 84%;
    height: 28px;
    line-height: 28px;
    border: none;
    background-color: var(--color-baselow);
    color: #FFFFFF;
}

.input_choice::placeholder {
    color: var(--color-grey);
}

.input_choice:focus {
    outline: none;
}

.votes_choice {
    float: left;
    margin-left: 20%;
    margin-bottom:20px;
    padding: 4px 0;
    width: 25%;
    border: 2px solid var(--color-lowmed);
    border-radius: 8px;
    background-color: var(--color-lowmed);
    text-align: center;
}

.button_choose {
    float: left;
    margin-left: 10%;
    margin-right: 15%;
    margin-bottom: 20px;
    padding: 4px 0;
    width: 25%;
    border: 2px solid var(--color-high);
    border-radius: 8px;
    color: var(--color-high);
    text-align: center;
    cursor: pointer;
}

.button_choose:hover {
    background-color: var(--color-high);
    color: #FFFFFF;
}

#explanation_choice {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    color: var(--color-high);
}

#button_collect {
    display: inline-block;
    padding: 4px;
    border: 2px solid var(--color-low);
    border-radius: 8px;
    color: var(--color-low);
    cursor: pointer;
}

#button_collect:hover {
    background-color: var(--color-low);
    color: #FFFFFF;
}


#height_calc {
    width: 90%;
    height: 0px;
    overflow: hidden;
    word-wrap: break-word;
}

@media only screen and (min-width: 768px) {

    #topic textarea {
        width: 42%;
    }

    #button_chat_choose {
        position: absolute;
        right: 2%;
        float: right;
    }

    #question textarea {
        width: 42%;
    }

    #input_answer {
        width: 25%;
    }

    .boards {
        width: 20%;
    }

    #container_leaderboard {
        margin-left: 2%;
    }

    .overlay_content {
        left: 50%;
        top: 50%;
        margin-left: -11%;
        margin-top: -270px;
        width: 22%;
        height: 540px;
    }

    #overlay_choose_close {
        right: 4px;
        top: 4px;
    }

    #height_calc {
        width: 42%;
    }
}
