{% load static %}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuttlebay</title>
    <link rel="stylesheet" href="{% static 'css/cssreset.css'%}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block styles %}
    {% endblock %}
</head>
<body>
    <div id="header">
        <a id="cb_logo" href="{% url 'cuttlet_home:home' %}">CuttleBay</a>
        {% if user.is_authenticated %}
            <a href="#" id="header_stream_link">
                <div id="header_info_stream" class="button_header" data-id="{{ user }}" data-acctype="{{ user.profile.account_type }}">
                    <img id="header_thumb_stream">
                    <div id="header_info_container">
                        <span id="header_title_stream" class="header_info_label"></span>
                        <span id="header_is_live"  class="header_info_label" data-islive=""></span>
                        <span id="header_viewers" class="header_info_label"></span>
                    </div>
                </div>
            </a>
            <div id="header_info_user" class="button_header">
                <div id="header_ml" class="header_info_label" data-ml="{{ user.profile.juice_ml }}">
                    {{ user.profile.juice_ml }}ml
                </div>
                <img id="header_user_img" class="header_info_label" src="{{ user.profile.thumbnail_url }}" alt="channel logo">
                <div id="header_username" class="header_info_label" >
                    {{ user.profile.name }}&nbsp;
                    <span id="arrow_dropdown">&#x25BE;</span>
                </div>
                <div id="header_dropdown" class="hidden">
                    <div id="header_juice_info"></div>
                    <a  href="{% url 'cuttlet_home:logout' %}">Logout</a>
                </div>
            </div>
        {% else %}
            <div id="button_header_login" class="button_header">Login</div>
        {% endif %}
    </div>
    <script src='{% static 'js/base.js' %}'></script>
    <div id="main_wrapper">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
