{% load static %}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuttlebay</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
        <span>{{ user.username }}</span>
        <span>{{ user.profile.juice_ml }}ml</span>
        <a href="{% url 'cuttlet_home:logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'cuttlet_home:login' %}">Sign In</a>
        <a href="{% url 'cuttlet_home:signup' %}">Sign Up</a>
    {% endif %}
    <h1><a href="{% url 'cuttlet_home:home' %}">CuttleBay</a></h3>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
