{% extends 'cuttlet_home/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div id="explanation">
        <span>We make your chat behave in a different way that fits you.</span>
    </div>
    <div id="title_choose">Choose a way:</div>
    <div id="container_all_ways">
        <div id="supperfan_container" class="container_way">
            <div class="title_way">SupperFan</div>
            <div class="explanation_way container_concern">
                <span>Make your chat more about you!</span>
            </div>
            <div class="concern_streamer container_concern">
                <div class="title_concern">Streamer:</div>
                <div class="content_concern">
                    <div>
                        1. Ask the chat a question.<br>
                        2. Write the correct answer.
                    </div>
                </div>
            </div>
            <div class="concern_chat container_concern">
                <div class="title_concern">Chat:</div>
                <div class="content_concern">
                    <div>
                        Answers the question in chat
                    </div>
                </div>
            </div>
            <div class="concern_way container_concern">
                <div class="title_concern">Supperfan:</div>
                <div class="content_concern">
                    <div>
                        Rank the top FIVE viewers that answered faster
                    </div>
                </div>
            </div>
            <div class="button_start button_trigger_way" onclick="startWay('supperfan')">Start</div>
            <div class="button_start_offline button_trigger_way">Offline</div>
        </div><!--
        --><div id="hoh_container" class="container_way">
            <div class="title_way">Hour of Honesty</div>
            <div class="explanation_way container_concern">
                <span>Make your chat like a questionary!</span>
            </div>
            <div class="concern_streamer container_concern">
                <div class="title_concern">Streamer:</div>
                <div class="content_concern">
                    <div>Answers questions</div>
                </div>
            </div>
            <div class="concern_chat container_concern">
                <div class="title_concern">Chat:</div>
                <div class="content_concern">
                    <div>
                        Writes questions in chat<br>
                        Votes on the honesty of the answers
                    </div>
                </div>
            </div>
            <div class="concern_way container_concern">
                <div class="title_concern">HoH:</div>
                <div class="content_concern">
                    <div>Stores and presents the questions to the streamer</div>
                </div>
            </div>
            <div class="button_start button_trigger_way" onclick="startWay('hoh')">Start</div>
            <div class="button_start_offline button_trigger_way">Offline</div>
        </div><!--
        --><div id="next_way" class="container_way">
            <div id="next_way_text">MORE COMING SOON</div>
        </div>
    </div>
    <div id="footer">
        <div id="footer_logo"></div>
        <div id="footer_links">
            <a href="mailto:dev.cuttlefysh@gmail.com?Subject=Cuttlebay" target="_top">dev.cuttlefysh@gmail.com</a>
        </div>
    </div>
    {% if not user.is_authenticated %}
        <div id="overlay_login" class="overlay">
            <div id="overlay_content_login" class="overlay_content">
                <a href="javascript:void(0)" id="overlay_login_close" onclick="closeNav()">&times;</a>
                <div id="header_overlay_login">Welcome</div>
                <div id="container_login_buttons">
                    <div id="button_login_twitch" class="button_login" >Login with Twitch</div>
                    <div id="button_login_youtube" class="button_login">Login with Youtube</div>
                </div>
            </div>
        </div>
    {% endif %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}
