@import url('https://fonts.googleapis.com/css?family=Istok+Web:400,700&subset=cyrillic');
/*Color Palette*/
:root {
    /*Placeholder images color need to be changed
    http://via.placeholder.com/36.png/8ADCE5?text=+*/

    /*ORIGINAL COLOR PALLEETTE*/
    /*#FB96FF
    #B983E8
    #373891
    #85B5E8
    #8ADCE5
    #A8A8A8*/

    /*PRODUCTION COLOR PALLETTE*/
    --color-high: #F20173;
    --color-highmed: #F3308C;
    --color-base: #0A0A30;
    --color-lowmed: #02A7CE;
    --color-low: #07B8E1;
    --color-grey: #A8A8A8;
}

body {
    font-size: 13px;
    font-family: 'Istok Web', sans-serif;
}

.hidden {
    display: none;
}

.button_header {
    display: inline-block;
    position: absolute;
    top: 6px;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
    text-align: center;
}

#header {
    position: absolute;
    width: 100%;
    height: 48px;
    background-color: var(--color-base);
    color: #FFFFFF;
}

.cb_logo_container {
    float:left;
    width: 48px;
    height: 48px;
    margin-right: 8px;
}

.cb_logo_text_container {
    float: left;
    width: 240px;
    height: 48px;
}


.label_beta {
    position: absolute;
    padding: 0 2px;
    right: 2px;
    top: 2px;
    margin-right: -5%;
    height: 12px;
    line-height: 12px;
    font-size: 0.625em;
    font-weight: 700;
    border: 1px solid var(--color-high);
    border-radius: 4px;
    background-color: var(--color-high);
}

#cb_logo_header {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -124px;
    margin-top: 0px;
}

#cb_logo_header .cb_logo_container {
    display: none;
}


#cb_logo:visited {
    color: var(--color-low);
}

#header_stream_link {
    color: #FFFFFF;
}

#header_info_stream {
    left: 1%;
    height: 36px;
    border-radius: 8px;
}

#header_info_stream:hover {
    background-color: var(--color-high);
}

#header_info_stream img {
    display: none;
    position: relative;
    float: left;
    height: 36px;
    border-radius: 8px 0 0 8px;
}

#header_info_container {
    position: relative;
    margin-left: 0.5vw;
    float: left;
    font-size: 1em;
    text-align: left;
}

.header_info_label {
    display: none;
    position: relative;
    overflow: hidden;
    top: 0px;
    height: 18px;
    line-height: 18px;
}

#header_title_stream {
    width: 14vw;
}

#header_is_live {
    display: block;
    padding-right: 1vw;
    float: left;
    width: auto;
    height: 36px;
    line-height: 36px;
    font-size: 0.75em;
}

#header_viewers {
    float: left;
    padding-right: 1vw;
    width: 8vw;
    font-size: 0.75em;
    text-align: right;
}

#header_info_user {
    right: 1%;
}

#header_username {
    cursor: pointer;
}

#header_username:hover {
    color: var(--color-low);
}

#header_user_img {
    display: block;
    float: left;
    height: 36px;
    border-radius: 18px;
}

#header_username {
    float: left;
    height: 36px;
    line-height: 36px;
}

#header_ml {
    float: left;
    margin-right: 7px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border: 2px solid var(--color-low);
    border-radius: 18px;
    font-size: 0.625em;
}

#header_dropdown::before {
    position: absolute;
    z-index: 1;
    right: -1px;
    top: -9px;
    width: 0;
    height: 0;
    content: '';
    border-right: 8px dashed transparent;
    border-bottom: 8px solid var(--color-low);
    border-left: 8px dashed transparent;
}


#header_dropdown {
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 44px;
    width: calc(98vw - 4px);
    border: 2px solid var(--color-low);
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    background-color: var(--color-base);
}

#header_profile_info {
    display: block;
    height: 36px;
    line-height: 36px;
    border-radius: 4px 4px 0 0;
}

#header_juice_info {
    display: block;
    padding: 8px;
    width: calc(100% - 16px);
    height: 296px;
    line-height: normal;
    border-top: 2px solid var(--color-low);
    border-bottom: 2px solid var(--color-low);
    font-size: 0.875em;
    text-align: justify;
    vertical-align: middle;
}

#header_juice_info span {
    display: inline-block;
    width: 100%;
    font-size: 1rem ;
    text-align: center;
}

#header_dropdown a:visited, #header_dropdown a:link {
    text-decoration: none;
    color: var(--color-low);
}

#header_dropdown a:hover {
    color: var(--color-high);
}

#button_header_login {
    right: 0.5%;
    top: 4px;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 8px;
    border: 2px solid var(--color-high);
    cursor: pointer;
}

#button_header_login:hover {
    background-color: var(--color-high);
}

#main_wrapper {
    position: relative;
    top: 48px;
}

@media only screen and (min-device-width: 768px) {

    body {
        font-size: 16px;
    }

    #cb_logo_header {
        margin-left: -144px;
    }

    #cb_logo_header .cb_logo_container {
        display: block;
    }

    #header_info_stream {
        border: 2px solid var(--color-high);
    }

    #header_info_stream img {
        display: block;
    }

    .header_info_label {
        display: block;
    }

    #header_is_live {
        width: 4vw;
        height: 18px;
        line-height: 18px;
    }

    #header_user_img {
        margin-right: 7px;
    }

    #header_dropdown {
        width: 150%;
    }

}
