body {
    background-color: green;
}

.hidden {
    display: none;
}

.header_info_label {
    display: block;
    position: relative;
    top: 0px;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
}

.button_header {
    display: inline-block;
    position: absolute;
    top: 6px;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
    text-align: center;
    color: white;
}

#header {
    position: absolute;
    width: 100vw;
    height: 48px;
    background-color: black;
}

#cb_logo {
    display: block;
    position: absolute;
    left: 40vw;
    width: 20vw;
    height: 48px;
    background-color: pink;
}

#header_info_stream {
    left: 0.5vw;
    background-color: red;
}

#header_info_stream img {
    display: block;
    position: relative;
    float: left;
    height: 36px;
}

#header_title_stream {
    width: 16vw;
}

#header_viewers {
    float: left;
    width: 8vw;
}

#header_is_live {
    width: 8vw;
}

#header_info_user {
    right: 4.5vw;
    background-color: blue;
}

#header_user_img {
    float: left;
    height: 36px;
}

#header_username {
    float: left;
    height: 36px;
    line-height: 36px;
}

#header_ml {
    float: left;
    width: 3vw;
    height: 36px;
    line-height: 36px;
    background-color: purple;
}

#header_dropdown:before {
    position: absolute;
    z-index: 1;
    right: 0vw;
    top: -0.5vw;
    width: 0;
    height: 0;
    content: '';
    border-left: 0.5vw dashed transparent;
    border-right: 0.5vw dashed transparent;
    border-bottom: 0.5vw solid green;
}


#header_dropdown {
    top: 44.5px;
    right: 0vw;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: green;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

#header_juice_info {
    display: block;
    height: 128px;
    background-color: pink;
}

#header_logout {
    left: 89vw;
    width: 7vw;
    background-color: red;
}

#button_header_login {
    right: 5vw;
    width: 5vw;
    background-color: purple;
    cursor: pointer;
}

#change_lang {
    padding-left: 0.5vw;
    right: 0.5vw;
    width: 2.9vw;
    border-left: 0.1vw solid white;
    text-align: left;
    cursor: pointer;
}

#main_wrapper {
    position: relative;
    top: 48px;
}
