#explanation {
    position: relative;
    width: 100vw;
    height: 70vh;
    background-color: blue;
}

#title_way {
    position: relative;
    width: 100vw;
    height: 10vh;
    background-color: pink;
}

#container_ways {
    padding-left: 7vw;
    padding-top: 24px;
    padding-bottom: 24px;
    position: absolute;
    width: 95vw;
    background-color: brown;
}

.way_container {
    position: relative;
    float: left;
    margin-right: 7vw;
    width: 24vw;
    height: 640px;
    background-color: blue;
}

#button_login_twitch {
    width: 100px;
    height: 100px;
    background-color: purple;
}

#button_login_youtube {
    width: 100px;
    height: 100px;
    background-color: red;
}

#button_logout_twitch {
    width: 100px;
    height: 50px;
    background-color: purple;
}

#button_logout_youtube {
    width: 100px;
    height: 50px;
    background-color: red;
}

.container_channel {
    display: none;
}

.button_start {
    display: none;
    background-color: yellow;
}

.overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
}

.overlay_content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5vw;
    margin-top: -270px;
    width: 25vw;
    height: 540px;
    background-color: white;
}

#overlay_login_close {
    position: absolute;
    left: 100%;
    top: 1px;
    margin-left: -17.8px;
    text-decoration: none;
    font-size: 28px;
    color: #141414;
}

#header_overlay_login {
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: center;
}

#container_login_buttons {
    width: 100%;
    height: 492px;
}
