#explanation {
    position: relative;
    width: 100%;
    height: 70vh;
    line-height: 70vh;
    text-align: center;
    font-size: 38px;
}

#title_choose {
    position: relative;
    width: 100%;
    height: 10vh;
    line-height: 10vh;
    text-align: center;
    font-size: 24px;
}

#container_all_ways {
    position: relative;
    padding-bottom: 24px;
    width: 100%;
    height: auto;
}

/*convert 100 of body to 96.5 of container*/
.container_way {
    display: inline-block;
    position: relative;
    margin-left: calc(7% - 6px);
    margin-top: 24px;
    width: 24%;
    height: 720px;
    border: 3px solid var(--color-top);
    border-radius: 18px;
}

.title_way {
    display: block;
    position: relative;
    left: -3px;
    top: -3px;
    width: calc(100% + 6px);
    height: 39px;
    border-radius: 18px 18px 0px 0px;
    line-height: 39px;
    text-align: center;
    color: black;
    background-color: var(--color-low);
}

.container_concern {
    margin: 4px 18px 0;
    width: calc(100% - 36px);
    /*background-color: black;*/
}

.title_concern {

}

.content_concern {

}

.concern_streamer {
    height: 157px;
}

.concern_chat {
    height: 157px;
}

.concern_way {
    height: 314px;
}

.button_trigger_way {
    float: right;
    margin: 2px 18px;
    width: 25%;
    height: 36px;
    border-radius: 8px;
    line-height: 36px;
    text-align: center;
}

.button_start {
    display: none;
    background-color: var(--color-lowmed);
    cursor: pointer;
}

.button_start_offline {
    background-color: var(--color-lowmed);
    opacity: 0.3;
    cursor: default;
}

#next_way {
    display: block;
    float: right;
    margin-left: 0;
    margin-right: calc(7% - 3px);
    background-color: var(--color-top);
    opacity: 0.5;
    cursor: default;
}

#next_way_text {
    display: inline-block;
    position: relative;
    margin-left: 50%;
    margin-top: 70%;
    left: -40%;
    width: 80%;
    font-size: 36px;
    text-align: center;
}

#footer {
    position: relative;
    width: 100%;
    height: 96px;
    background-color: var(--color-base);
}

#footer_logo {
    position: relative;
    left: calc(7% - 3px);
    top: 24px;
    width: 5%;
    height: 48px;
    background-color: var(--color-low);
}

#footer_contact {
    float: right;
    margin-right: calc(7% - 3px);
}

.overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.overlay_content {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -12.5vw;
    margin-top: -270px;
    width: 25%;
    height: 540px;
    background-color: var(--color-base);
}

#overlay_login_close {
    position: absolute;
    left: 100%;
    top: 1px;
    margin-left: -20px;
    font-size: 28px;
    text-decoration: none;
    color: #141414;
}

#header_overlay_login {
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 24px;
}

#container_login_buttons {
    width: 100%;
    height: 492px;
}

.button_login {
    margin: 20px auto 0;
    width: 70%;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}


#button_login_twitch {
    background-color: #6441A4;
}

#button_login_youtube {
    background-color: #CD201F;
}
