{% extends 'cuttlet_home/base.html' %}
{% load static %}

{% block meta %}
    <title>DraftChat - Cuttlebay</title>
    <meta name="description" content="One of Cuttlebay's app for you and your chat. Write along with your chat."/>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/draftchat.css' %}">
{% endblock %}

{% block content %}
    <div id="reminder">REMEMBER: In chat, viewers must begin their messages with '?' + 'word to add'</div>
    <div id="info_collect">
        <div id="status_collect" class="items_collect">Waiting... (Write '?' + 'type of word you want from chat')</div>
        <div id="first_collect" class="items_collect ranks_collect">First</div>
        <div id="second_collect" class="items_collect ranks_collect">Second</div>
        <div id="third_collect" class="items_collect ranks_collect">Third</div>
    </div>
    <textarea id="textarea_draft" placeholder="Begin writing here and when you want to let the chat add a word write ?(what type you want)"></textarea>
    <script src="{% static 'js/cuttle_chat.js' %}"></script>
    <script src="{% static 'js/draftchat.js' %}"></script>
{% endblock %}
