body {
    background-color: var(--color-base);
    text-align: center;
    color: white;
}

#reminder {
    padding: 0 2%;
    width: 96%;
    min-height: 5vh;
    line-height: 5vh;
    color: var(--color-highmed);
}

#title {
    width: 100%;
    height: calc(20vh - 48px);
    line-height: calc(20vh - 48px);
    font-size: 3em;
    color: var(--color-low);
}

#container_current {
    position: relative;
    margin: 0 auto;
    width: 96%;
    min-height: 15vh;
    line-height: 15vh;
}

#current_username {
    display: none;
    width: calc(30.5% - 2px);
    line-height: normal;
    border-right: 2px solid var(--color-high);
    font-size: 1.125em;
    vertical-align: middle;
    overflow-x: hidden;
}

#current_question {
    display: inline-block;
    width: 69.5%;
    line-height: 5vh;
    font-size: 1.375em;
    vertical-align: middle;
}

.section {
    display: inline-block;
    position: relative;
    margin-bottom: 1vh;
    top: 10px;
    vertical-align: top;
}

#container_goals {
    width: 96%;
    border: 2px solid var(--color-lowmed);
    border-radius: 8px;
}

.label_goals {
    position: relative;
    float: left;
    width: 25%;
    height: 3.6vh;
    line-height: 3.6vh;
    vertical-align: baseline;
}

#container_timer {
    border-radius: 8px 8px 0 0;
    font-size: 1em;
    font-weight: 700;
}

#quarter_hoh {
    color: var(--color-low);
}

#half_hoh {
    color: var(--color-highmed);
}

#one_hoh {
    color: var(--color-high);
    border-radius: 0 0 8px 8px;
}

#container_queue {
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
    height: 27vh;
    overflow: hidden;
}

.container_next {
    display: inline-block;
    margin: 0.5vh 0.6%;
    padding: 1vh 2px;
    width: calc(98.8% - 4px);
    height: 6vh;
    line-height: 3vh;
    border-radius: 4px;
    vertical-align: top;
    background-color: var(--color-high);
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}

.container_next:hover {
    background-color: var(--color-highmed);
}

#container_vote {
    width: 96%;
    height: 18vh;
    border: 2px solid var(--color-highmed);
    border-radius: 8px;
}

.label_vote {
    width: calc(100% - 4px);
    margin-left: 8px;
    height: 6vh;
    line-height: 6vh;
    font-size: 1.125em;
    text-align: left;
}

#label_num_questions {
    color: var(--color-low);
}

#label_percent {
    color: var(--color-high);
}

#explanation_vote {
    width: 100%;
    margin-left: 0;
    height: 6vh;
    line-height: 3vh;
    text-align: center;
    color: var(--color-grey);
}

@media screen and (min-device-width: 768px) {

    #title {
        height: calc(15vh - 48px);
        line-height: calc(15vh - 48px);
    }

    #container_current {
        width: 50%;
    }

    #container_goals {
        width: 15%;
    }

    .label_goals {
        width: 100%;
    }

    #container_timer {
        height: 7.2vh;
        line-height: 7.2vh;
        font-size: 1.275em;
    }

    #container_queue {
        width: 60%;
    }

    .container_next {
        width: calc(31% - 4px);
    }

    #container_vote {
        width: 15%;
    }
}
